@font-face {
    font-family: 'jn';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

:root{
    /* 공통 컬러 */
    --df-green-c : #28DEE0;
    --df-blue-c : #74C8FF;
    --df-purple-c : #B6A4FF;
    --df-pink-c : #FF7A9D;
    --df-navy-c : #616FFF;
    --df-gray-dis : #D9D9D9;   
    --df-gray-act : #393939;   
    --df-f-c-01 :#393939;
    --df-f-c-02 :#7E7D7D;
    --df-f-c-03 :#949494;
}

html{
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-size: 16px;
    color: var(--df-f-c-01);
}

body{
    /* 퍼블리싱용 스타일/ 개발 완료 시 삭제 예정 */
    background-color: #f5f5f5;
}

/* common  start*/
.layout{
    background-color: #fff;
    max-width: 768px;
    margin: 0 auto;
    min-height: 100vh;
}
.gray_bg{
    background-color: #f5f5f5;
}
.df_blue_bg{
    background-color: var(--df-blue-c);
}
.df_green_bg{
    background-color: var(--df-green-c);
}
.df_purple_bg{
    background-color: var(--df-purple-c);
}
.df_navy_bg{
    background-color: var(--df-navy-c);
}

section {
    padding: 30px 20px;
}

.sub_sec .sub_tit_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 20px;
}

.sub_sec .sub_tit_box>span {
    box-sizing: border-box;
    border-radius: 0 50px 50px 0;
    text-align: left;
    font-family: 'jn';
    color: #Fff;
    font-size: 20px;
    position: relative;
    left: -20px;
    padding:15px 10px 15px 40px;
    width: 200px;
}

.sub_sec .sub_tit_box a {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--df-f-c-03);

}

.lt_list_1 {
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.15);
}

.lt_list_1 li {
    border-bottom: 1px solid #f5f5f5;
}

.lt_list_1 li:last-child {
    border-bottom: 0;
}

.lt_list_1 li>div {
    padding: 13px 0;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.lt_list_1 li p {
    white-space: nowrap;
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 500;
    font-size: 14px;
}

.lt_list_1 li  .date {
    font-size: 12px;
}

.lt_list_gal_1 li{
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.15);
}

.lt_list_gal_1 li .thumb{
    width: 100%;
    aspect-ratio: 1/0.56;
    overflow: hidden;
}
.lt_list_gal_1 li .thumb img{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}
.lt_list_gal_1 li .gal_tit{
    font-weight: 500;
    text-align: center;
    padding: 15px 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.lt_list_2 {
    padding: 23px 20px;
    border-radius: 5px;
    box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.15);
}
.lt_list_2:not(:last-child){
    margin-bottom: 20px;
}
.lt_list_2 .lt_list_tit{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.lt_list_2 .lt_list_tit>span{
    font-family: 'jn';
    font-size: 16px;
}
.lt_list_2 .lt_list_tit a{
    color: var(--df-f-c-03);
    display: flex;
    align-items: center;
    gap: 5px;
}
.lt_list_2 ul{
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}
.lt_list_2 li {
    border-bottom: 1px solid #f5f5f5;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 3px 0;
}

.lt_list_2 li:last-child {
    border-bottom: 0;
}

.lt_list_2 li a {
    padding: 10px 0;
    display: flex;
    gap: 5px;
    flex: 1;
    overflow: hidden;
}
.lt_list_2 li .status{
    display: block;
    font-weight: 500;
    color: #fff;
    font-size: 14px;
    border-radius: 30px;
    line-height: 25px;
    padding: 0 10px;
}
.lt_list_2 li .status.success{
    background-color: var(--df-purple-c);
}
.lt_list_2 li .status.stay{
    background-color: var(--df-gray-dis);
}
.lt_list_2 li a p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 500;
    font-size: 14px;
}
.lt_list_2 li .date {
    font-size: 12px;
}
.lt_list_2 li .reply_cnt{
    color: var(--df-purple-c);;
}

.fix_bot{
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    z-index: 999;
}
.fix_bot .write_btn{
    display: block;
    margin-right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.02);
    background-color: var(--df-gray-dis);
}
body:has(nav) .fix_bot{
    bottom: 100px;
}
/* common  end*/
/* float_nav start */
body:has(.float_nav){
    padding-bottom: 84px;
}
.float_nav{
    position: fixed;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    background-color: #fff;
    display: flex;
    border-top: 1px solid #f5f5f5;
    max-width: 768px;

}
.float_nav a{
    flex: 1;
    text-align: center;
    padding: 12px;
    box-sizing: border-box;
}
.float_nav a span{
    display: block;
    margin-top: 8px;
    font-size: 12px;
}
.float_nav a.active{
   font-weight: bold;
   border-top: 2px solid ;
}
.float_nav a .on{
    display: none;
}
.float_nav a.active .on{
    display: inline-block;
}
.float_nav a.active .off{
    display: none;
}
/* float_nav end */
/* header start*/
#hd{
    display: flex;
    height:60px;
    box-sizing: border-box; 
    padding: 14px 20px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}
#hd #m_menu{
    width: 21px;
}
#hd #m_menu i{
    display: block;
    background-color: var(--df-gray-act);
    height: 2px;
    margin-bottom: 5px;
}
#hd #m_menu i:last-child{
    margin-bottom: 0;
}
#hd .hd_title{
    font-family: 'jn';
    font-size: 20px;
}
#hd.sub_hd{
    border-bottom: 1px solid #f5f5f5;
}
body:has(.m_menu_layer.open){
    overflow: hidden;
}
.m_menu_layer{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
   
    z-index: 99999;
    display: flex;
    justify-content: end;
    display: none;
}
.m_menu_bg{
    background-color: rgba(0, 0, 0, 0.5);   
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.m_menu_layer .m_menu_div{
    width: 80%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    right: -80%;
    top: 0;
}
.m_menu_layer .m_menu_div .m_menu_close{
    position: absolute;
    right: 30px;
    top: 20px;
}
.m_menu_layer .m_menu_con{
    overflow-y: auto;
    height: calc(100% - 180px);

}
.m_menu_layer .m_menu_hd:has(.book_mark_btn) .m_menu_con{
    overflow-y: auto;
    height: calc(100% - 235px);

}
.m_menu_layer .m_menu_div .m_menu_hd{
    padding: 60px 20px 24px;
    position: relative;
    border-bottom: 10px solid #f5f5f5;
    box-sizing: border-box;
    height: 235px;

}
.m_menu_layer .m_menu_div .m_menu_hd:has(.book_mark_btn){

}
.m_menu_layer .m_menu_div .m_menu_hd .u_name_box{
    font-size: 20px;
    font-family: 'jn';
    margin-bottom: 22px;
}
.m_menu_layer .m_menu_div .m_menu_hd .my_page_btn{
    color: #fff;
    background-color: var(--df-green-c);
    font-family: 'jn';
    font-size: 16px;
    height: 45px;
    border-radius: 10px;
    width: 100%;
    display: block;
    line-height: 45px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.m_menu_layer .m_menu_div .m_menu_hd .book_mark_btn{
    color: #fff;
    margin-bottom: 10px;
    background-color: var(--df-navy-c);
    font-family: 'jn';
    font-size: 16px;
    height: 45px;
    border-radius: 10px;
    width: 100%;
    display: block;
    line-height: 45px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.m_menu_layer .m_menu_list>li:not(:last-child){
    border-bottom: 1px solid #f5f5f5;
}

.m_menu_layer .m_menu_list .menu_tit{
    line-height: 30px;
    font-weight: 600;
    border-bottom: 1px solid #f5f5f5;
    padding: 10px 20px;
    display: block;
}
.m_menu_layer .m_menu_list .sub_menu{
    display: none;
}
.m_menu_layer .m_menu_list .sub_menu li a{
    display: block;
    padding: 10px 40px;
    line-height: 30px;

}
.m_menu_layer .m_menu_ft{
    border-top: 10px solid #f5f5f5;
    padding: 20px 20px;

}
.m_menu_layer .m_menu_ft .logout_btn{
    display: inline-block;
    border-radius: 10px;
    background-color: var(--df-gray-dis);
    color: #fff;
    height: 38px;
    line-height: 38px;
    width: 120px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}
/* header end*/

/* sub_top_bn start */
.sub_top_bn{
    position: relative;
    padding: 49px 30px;
   
}
.sub_top_bn:has(br){
    padding: 30px 30px ;
}
.sub_top_bn .ico{
    display: block;
    position: absolute;
    left: 30px;
    top: -15px;
}
.sub_top_bn .bg{
    position: absolute;
    right: 0;
    bottom: 0;
}
.sub_top_bn span{
    font-family: 'jn';
    font-size: 26px;
    line-height: 1.3;
    position: relative;
    z-index: 1           ;
}
.sub_con{
    padding: 60px 20px;
    box-sizing: border-box;
    position: relative;

}
.sub_con:has(.fix_btn){
    min-height: calc(100vh - 60px);
    position: relative;
    padding-bottom: 100px;
}
.sub_con_wrap .sub_con{
    padding-top: 30px;
}
.sub_con_hd{
    display: flex;
    background-color: #fff;
    align-items: center;
    gap: 15px;
    padding: 16px  20px;
    border-bottom: 1px solid #d9d9d9;
    border-top:1px solid #f5f5f5
}
.sub_con_hd span{
    font-family: 'jn';
    font-size: 20px;
}
.sub_con .fix_btn{
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}
/* sub_top_bn end */

/* modal start */
.modal_layer{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 99999;
}
.modal_con{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    width: 90%;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    max-width: 600px;
}
.modal_con .txt{
    font-weight: 500;
    padding: 40px 0;
    font-size: 18px;
}
.modal_con .modal_btn{
    background-color: var(--df-f-c-01);
    border-radius: 50px;
    height: 50px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    width: 100%;
}
/* modal end */

/* form start */
.check_wrap{
    display: flex;
    gap: 40px;
    align-items: center;
}
.radio,
.chk{
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}
.radio input,
.chk input{
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: 0;
    visibility: hidden;
}
.radio i{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid #949494;
    position: relative;
    display: inline-block;
}
.chk i{
    width: 23px;
    height: 23px;
    border: 1px solid #949494;
    position: relative;
    display: inline-block;
}
.radio input:checked ~ i ,
.chk input:checked ~ i {
    background-color: #393939;
    border-color: #393939;
}
.radio input:checked ~ i::after,
.chk input:checked ~ i::after{
    content: "";
    display: block;
    position: absolute;
    width: 14px;
    height: 12px;
    background-image: url('../images/common/chk_ico.png');
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.radio,
.chk span{
    font-weight: 500;
    font-size: 16px;
}
.df_input{
    border-radius: 50px;
    height: 50px;
    border: 1px solid var(--df-gray-dis);
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: #fff;
    font-size: 16px;
    width: 100%;
    font-weight: 500;
}

.df_input::placeholder{
    color: var(--df-f-c-03);
}
.df_input.calendar{
    padding-left: 50px;
    background-repeat: no-repeat;
    background-position: 20px center;
}
.df_textarea{
    border-radius: 20px;
    border: 1px solid var(--df-gray-dis);
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: #fff;
    font-size: 16px;
    width: 100%;
    font-weight: 500;
    height: 300px ;
    resize: none;
    line-height: 1.4;
    color: #393939;
    font-size: 15px;
}

.df_btn{
    font-weight: 500;
    font-size: 16px;
    width: 100%;
    height: 50px;
    text-align: center;
    display: block;
    border-radius: 50px;;
    color: #fff;
    line-height: 50px;
    background-color: var(--df-gray-dis);
}
.df_btn.dis{
    background-color: var(--df-gray-dis);
}
.df_btn.act{
    background-color: var(--df-gray-act);
}

.df_btn.list{
    font-family: 'jn';

    background-color: var(--df-f-c-03);
}
.submit_btn{
    font-family: 'jn';
    background-color: var(--df-green-c);
    width: 100%;
    height: 50px;
    text-align: center;
    display: block;
    border-radius: 50px;;
    font-size: 20px;
    color: #fff;
    background-color: var(--df-gray-dis);

}
.submit_btn:disabled{
    background-color: var(--df-gray-dis);
}
.form_box .input_box{
    margin-bottom: 30px;
}
.form_box .input_box input:read-only{
    background-color: #f5f5f5;
    color: #949494;
}
.form_box .id_check_box{
    position: relative;
}
.form_box .id_check_box button{
    height: 34px;
    border-radius: 30px;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    background-color: #393939;
    padding: 0 10px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.form_box .input_box:last-child{
    margin-bottom: 30px;
}
.form_box .input_box .input_tit{
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 15px;
}
.form_box .input_box:has(.check_wrap) .input_tit{
    margin-bottom: 20px;
}
.form_box .input_box .form_btn{
    margin-top: 15px;
}
.form_box .input_box:has(input:not(:read-only):focus) .input_tit{
    font-weight: bold;
}
.form_box .input_box input:not(:read-only):focus{
  
    border-width:2px;
}
.form_box .input_box textarea:not(:read-only):focus{
  
    border-width:2px;
}
.form_box .input_box input:read-only:focus{
    outline: 0;
}
.form_box .required .input_tit::before{
    content: "* ";
}
.count_txt{
    font-weight: 500;
    font-size: 14px;
    margin-top: 8px;
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 8px;
    font-weight: 500;
}
.count_txt button{
    border-bottom: 1px solid ;
    font-weight: 500;
}
.input_box .info_txt{
    font-weight: 500;
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.input_box .info_txt.light{
    font-weight: normal;
}
/* form end */   

/* login start */
.login_box form input{
    margin-bottom: 10px;
}
.login_box form input:last-of-type{
    margin-bottom: 0;
}
.login_box form button{
    margin-top: 20px;
}
.login_info_box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}
.login_info_box a{
    font-weight: 500;
    font-size: 16px;
}
.login_info_box span{
    width: 1px;
    height: 16px;
    display: block;
    background-color: var(--df-f-c-03);
}

.find_result{
    padding: 30px 20px;
}
.find_box{
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
    padding: 40px 30px;
}
.find_box p{
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
}
.find_box p span{
    font-weight: bold;
    color: var(--point_color);
}
.find_box p span.point{
    font-family: 'jn';
}
.find_box p.sub_p{
    padding-top: 15px;
    border-top: 1px solid #d9d9d9;
    margin-top: 15px;
}
.find_btns{
    display: flex;
    gap: 10px;
    margin-top: 15px;
}
.find_btns a{
    display: inline-block;
    flex: 1;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    font-family: 'jn';
    color: #fff;
    text-align: center;
    background-color: var(--df-green-c);
}
.find_btns.column{
    flex-direction: column;
}
.find_btns a.gray{
    background-color: var(--df-f-c-02);
}
.find_result_layer{
    padding-top: 40px;
}
/* login end */

/* calendar start */
#ui-datepicker-div{
    border-radius:20px !important;
    padding:0 !important;
    overflow:hidden !important;
}
.ui-widget-header {
    border: 0 !important;
    background: #fff !important;
    color: #393939 !important;
    font-weight: normal !important;
    
}
.ui-datepicker .ui-datepicker-header{
    padding:10px 32px !important;
    display:flex;
    align-items:center;
    justify-content:space-between;
    background-color: var(--df-green-c) !important;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br{
    border-bottom-right-radius:0 !important;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl{
    border-bottom-left-radius:0 !important;
}
.ui-datepicker .ui-datepicker-prev, 
.ui-datepicker .ui-datepicker-next{
    width: 6px !important;
    height: 12px !important;
    top: 50% !important;
    transform: translateY(-50%);
    border-radius:  0 !important;
}
.ui-datepicker .ui-datepicker-prev{
    left: 32px !important;
}
.ui-datepicker .ui-datepicker-next{
    right: 32px !important;
}
.ui-datepicker .ui-datepicker-prev span, 
.ui-datepicker .ui-datepicker-next span{
    width: 100% !important;
    height: 100% !important;
    position: relative !important;
    left: auto !important;
    right: auto !important;
    top: auto !important;
    margin:  auto !important;
    background-color: transparent !important;
}
.ui-datepicker .ui-datepicker-prev span{
    background-image: url('../images/common/cal-left.png') !important;
    background-position: center !important;
}
.ui-datepicker .ui-datepicker-next span{
    background-image: url('../images/common/cal-right.png') !important;
    background-position: center !important;
}
.ui-datepicker .ui-datepicker-title{
    line-height: normal !important;
    margin:  auto !important;
    font-weight: 600;
    color: #fff;
}
.ui-datepicker th{
    background-color: var(--df-green-c) !important;
    color: #fff !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    padding: 5px 3px  10px!important;
}
ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
	border: 0 !important;
	background: transparent !important;
	font-weight: normal;
	color: #2b2b2b;
    cursor: pointer;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
    border: 0 !important;
    background-color: transparent !important;
    height: 30px;
    line-height: 30px;
    font-size: 14px !important;
    font-weight: normal !important;
    color: var(--df-f-c-01) !important;
    text-align: center;
    border: 0 !important;
    padding:  0 !important;
}
.ui-datepicker-current-day .ui-state-default.ui-state-active{
    border-radius: 30px;
    background-color: var(--df-green-c) !important;
    color: #fff !important;
    font-weight: 600!important;
}
.ui-datepicker table tr:first-child td{
    padding-top: 10px;
}
.ui-datepicker table tr:last-child td{
    padding-bottom: 10px;
}
.ui-datepicker table td:first-child{
    padding-left: 15px;
}
.ui-datepicker table td:last-child{
    padding-right: 15px;
}
.ui-datepicker table{
    margin:  auto !important;
}

/* calender end */

/* join start */
.join_progress{
    border-radius: 20px;
    height: 6px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.02);
    width: calc(100% - 40px);
    overflow: hidden;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
}
.join_progress .bar{
    border-radius: 20px;
    background-color: var(--df-green-c);
    position: absolute;
    left: 0;
    height: 100%;
}
/* join end */

/* mypage start */
#my_sec{
    background-color: #f5f5f5;
    padding: 20px;
}
#my_sec .my_con{
    background-color: #Fff;
    border-radius: 20px;
    padding: 20px;
}
#my_sec .my_con .my_con_hd{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 20px;
    border-bottom: 1px solid #D9D9D9;
}
#my_sec .my_con .my_con_hd.column{
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
}
#my_sec .my_con .my_con_hd .name{
    font-family: 'jn';
    font-size: 22px;
}
#my_sec .my_con .my_con_hd .week{
    color: var(--df-green-c);
    font-family: 'jn';
    font-size: 16px;
}
#my_sec .my_con_div_wrap .my_con_div{
    padding: 20px 0;
    border-bottom: 1px solid #f5f5f5;
}
#my_sec .my_con_div_wrap .my_con_div .tit{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
}
#my_sec .my_con_div_wrap .my_con_div span{
    font-size: 15px;
}
#my_sec .my_con_div_wrap .my_con_div.setting span{
    color: var(--d-cate-c-blue);
}
#my_sec .my_con_div_wrap .my_con_div.community span{
    color: var(--d-cate-c-purple);
}
#my_sec .my_con_div_wrap .my_btn{
    height: 39px;
    line-height: 39px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    display: block;
}
#my_sec .my_con_div_wrap .setting .my_btn{
    background-color: #74C8FF10;
}
#my_sec .my_con_div_wrap .community .my_btn{
    background-color: #B6A4FF10;
}
#my_sec .my_con_div_wrap .community .my_btns{
    display: flex;
    gap: 10px;
}
#my_sec .my_con_div_wrap .community .my_btns .my_btn{
    flex: 1;
}
#my_sec .my_con_ft{
    padding-top: 20px;
    padding-bottom: 10px;
}
#my_sec .logout{
    color: #949494;
    font-size: 16px;
}
/* mypage end */

/* list start */

.paging{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.paging strong,
.paging a:not(.arrow){
    width: 35px;
    height: 35px;
    display: inline-block;
    position: relative;
    border-radius: 50%;
}
.paging strong span,
.paging a span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 16px;
}
.paging a:not(.arrow){
    color: #949494;
    border: 1px solid #949494;
}
.paging strong{
    color: #fff;
    background-color: #393939;
}
.paging .next,
.paging .first,
.paging .prev,
.paging .last{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}
.paging .next{
    background-image: url('../images/common/next-ico.png');
}
.paging .prev{
    background-image: url('../images/common/prev-ico.png');
}
.paging .first{
    background-image: url('../images/common/first-ico.png');
}
.paging .last{
    background-image: url('../images/common/last-ico.png');
}

.list_tab{
    display: flex;
    overflow: hidden;
    border-bottom: 1px solid #d9d9d9;
}
.list_tab.no_slide button{
    flex: 1;
}
.list_tab button{
    padding: 0 10px;
    width: 25%;
    white-space: nowrap;
    height: 50px;
    flex: 1;
}
.list_tab button.active{
    border-bottom: 2px solid #000;
    font-weight: bold;

}
.list_box .sch_box{
    display: flex;
    background-color: #f5f5f5;
    gap: 10px;
    align-items: center;
    padding: 20px;
}
.list_box .sch_box select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border: 1px solid #d9d9d9;
    height: 40px;
    border-radius: 50px;
    min-width: 120px ;
    padding: 0 16px;
    font-weight: 500;

    background-image: url('../images/common/select-arrow.png');
    background-repeat: no-repeat;
    background-position: 85% center;
    cursor: pointer;
}

.list_box .sch_box .sch_input{
    position: relative;
    flex: 1;

}
.list_box .sch_box .sch_input button{
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: #949494;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.list_box .sch_box .sch_input button img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    
}
.list_box .sch_box .sch_input input{
    height: 40px;
    font-weight: 500;
    border-radius: 30px;
    box-sizing: border-box;
    border: 1px solid #d9d9d9;
    width: 100%;
    padding-left: 20px;
    padding-right: 50px;
}
.list_box .sch_box .sch_input input::placeholder{
    color: #949494;
}

.list_1{
    padding: 20px;
}
.list_1_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.list_1_top .list_1_top_r{
    display: flex;
    gap: 14px;
    align-items: center;
}
.list_1_top .list_1_top_r span{
    font-weight: 500;
    font-size: 15px;
    color: #949494;
}
.list_1_top .list_1_top_r .del_btn{
    font-weight: 500;
    color: #fff;
    font-size: 15px;
    background-color: #949494;
    border-radius: 30px;
    height: 30px;
    padding: 0 10px;
}
.list_1_bottom{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 6px;
}
.list_1_bottom span{
    position: relative;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.list_1_bottom span::after{
    content: "";
    display: block;
    width: 1px;
    height: 12px;
    background-color: #D9D9D9;
    position: absolute;
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
}
.list_1_bottom span:last-child::after{
    display: none;
}
.list_1 ul{
    margin-top: 12px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}
.list_1 li>div{
    padding: 16px 0;
    border-top: 1px solid #d9d9d9;
    display: flex;
    gap: 16px;
    align-items: start;
    overflow: hidden;
}
.list_1 li:first-child{
    border-top: 0;
}

.list_1 li  .list_1_txt{
    flex: 1;
    overflow: hidden;
}
.list_1 li  .list_1_li_top{
    display: flex;
    gap: 6px;
    align-items: center;
    margin-bottom: 6px;
}

.list_1 li  .cate{
    padding: 0 8px;
    display: inline-block;
    background-color: #BDBDBD;
    border-radius: 20px;
    color: #fff;
    font-weight: 500;
    color: #Fff;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    box-sizing: border-box;
}

.list_1 li  .cate.stay{
    background-color: var(--df-purple-c);
}
.list_1 li  .cate.notice{
    background-color: var(--df-green-c);
}
.list_1 li  .list_1_li_top .cate{
    padding: 0 10px;
   
    font-size: 15px;
}
.list_1 li  .tit + .date{
    display: block;
    margin-top: 10px;
    
}
.list_1 li  .date{
    font-size: 14px;
    color: #7E7D7D;
}
.list_1 li  .reply{
    display: flex;
    gap: 4px;
    font-size: 14px;
    color: #7E7D7D;
    align-items: center;
}
.list_1 li .tit{
    
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    font-weight: 500;
}
.list_1:has(.notice, .no) .no,
.list_1:has(.notice, .no) .cate{
    width: 40px;
    padding: 0;
    text-align: center;
    display: inline-block;
}
.list_1 .submit_btn{
    margin-top: 60px;
}


.list_2{
    padding: 20px 20px 50px;
}
.list_2>ul>li{
    border: 1px solid #F5F5F5;
    border-radius: 10px;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.04);
    margin-bottom: 20px;
    padding: 15px 15px 20px;
}
.list_2>ul>li:last-child{
    margin-bottom: 0;
}
.list_2>ul>li .list_2_top{
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 15px;
    display: flex;
    gap: 15px;
    align-items: center;
}
.list_2>ul>li .list_2_top .no{
    font-weight: 600;
    color: #7E7D7D;
}
.list_2>ul>li .list_2_top .tit{
    font-weight: 500;

}.list_2>ul>li .list_2_con{
    margin-top: 15px;
}
.list_2>ul>li .list_2_con ul li{
    display: flex;
    align-items: start;
    gap: 16px;
    margin-bottom: 15px;
}
.list_2>ul>li .list_2_con ul li:last-child{
    margin-bottom: 0;
}
.list_2>ul>li .list_2_con ul li .txt{
    flex: 1;
}
.list_2>ul>li .list_2_con ul li span{
    background-color: var(--df-f-c-02);
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    width: 60px;
    text-align: center;
    line-height: 25px;
}
.list_2>ul>li .list_2_con ul li p{
    word-break: keep-all;
    font-size: 15px;
    line-height: 1.3;
}
.list_2>ul>li .list_2_con ul li .target p{
    position: relative;
    padding-left: 10px;
}
.list_2>ul>li .list_2_con ul li .target p::before{
    content: "-";
    left: 0;
    top: 1px;
    line-height: 1;
    position: absolute;
}
/* list end */

/* view start */
.view_1 .view_1_top{
    padding: 16px 20px 6px;
    border-bottom: 10px solid #F5F5F5;
}
.view_1 .view_1_top .tit{
    padding-bottom: 14px;
    padding-top: 10px;
    display: flex;
    gap: 10px;
    border-bottom: 1px solid #D9D9D9;
    justify-content: space-between;
    position: relative;
}
.view_1 .view_1_top .tit:has(.view_1_top_btns){
    padding-bottom: 10px;
}
.view_box .more{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.view_box .more_box{
    border: 1px solid #d9d9d9;
    position: absolute;
    bottom: 50%;
    right: 0;
    transform: translateY(120%);
    display: none;
    z-index: 2;
}
.view_box .more_box button{
    display: block;
    padding: 4px 10px;
    background-color: #fff;
}
.view_box .more_box button:hover{
    background-color: #d9d9d9;
}
.view_box .more_box button:first-child{
    border-bottom: 1px solid #d9d9d9;
}
.view_box .more i{
    display: block;
    width: 4px;
    height: 4px;
    background-color: #949494;
    border-radius: 50%;
}
.view_1 .view_1_top .tit p{
    word-break: keep-all;
    line-height: 1.2;
}

.view_1 .view_1_top .view_1_top_in span{
    color:#7E7D7D;
    font-weight: 500;
    font-size: 15px;
    position: relative;
}
.view_1 .view_1_top .view_1_top_in span::after{
    content: "";
    width: 1px;
    height: 12px;
    background-color: #D9D9D9;
    display: block;
    position: absolute;
    top: 50%;
    right: -8px;
    transform: translateY(-50%);
}
.view_1 .view_1_top .view_1_top_in span:last-child::after{
    display: none;
}
.view_1 .view_1_top .view_1_top_in{
    padding: 15px 0 10px;
    display: flex;
    gap: 16px;
    align-items: center;
}

.view_1 .view_1_con{
    padding: 0 20px  50px;
}
.view_1 .view_1_con:has(.view_txt){
    padding-bottom: 20px;
}
.view_1 .view_1_con .view_txt{
    padding: 20px 0;
    white-space: pre-line;
    line-height: 1.5;
    word-break: keep-all;
}
.view_1 .view_1_top_btns{
    display: flex;
    gap: 10px;
    align-items: center;
    position: relative;
}
.view_1 .view_1_top_btns .link.active img{
    content: url('../images/doctor/link-ico-active.png');
}
.view_1 .view_1_top_btns .bookmark.active img{
    content: url('../images/doctor/bookmark-ico-active.png');
}
.view_1 .view_1_con .view_txt.editor{
    white-space:normal;
}
.view_1 .view_1_con .df_btn.list{
    margin-top: 20px;
}
.view_1 .view_1_con .view_1_q{
    padding: 20px 10px;
 
}
.view_1 .view_1_con .view_1_q .txt{
    white-space: pre-line;
    line-height: 1.5;
    word-break: keep-all;
}
.view_1 .view_1_con .view_1_a .a_tit{
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    padding: 8px 25px ;
    position: relative;
}
.view_1 .view_1_con .view_1_a .a_tit i{
    background-color: var(--df-purple-c);
    width: 12px;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
}
.view_1 .view_1_con .view_1_a .a_tit span{
    font-weight: 500;
}
.view_1 .view_1_con .view_1_a .a_txt_box{
    padding: 20px 10px;
}
.view_1 .view_1_con .view_1_a .a_writer{
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 20px;
}
.view_1 .view_1_con .view_1_a .a_writer p{
    font-weight: 500;
}
.view_1 .view_1_con .view_1_a .txt{
    white-space: pre-line;
    line-height: 1.5;
    word-break: keep-all;
}
.view_1 .view_1_con_btn{
    display: flex;
    align-items: center;
    gap: 4px;
    margin: 0 auto;
    border-radius: 30px;
    font-weight: 500;
    font-size: 18px;
    background-color: var(--df-gray-dis);
    height: 50px;
    width: 150px;
    justify-content: center;
    color: #fff;
}
.view_1 .view_1_con_btn.active{
    background-color: var(--df-green-c);
}
.view_2{
    padding: 26px 20px 50px;
}

.view_2_tit_box{
    background-color: #fff;
    padding: 10px 16px;
    border-radius: 20px;
    border: 1px solid #949494;
    display: flex;
    align-items: start;
    gap: 10px;
}
.view_2_tit_box .cate{
    background-color: var(--df-green-c);
    color: #fff;
    border-radius: 30px;
    padding: 4px 5px;
    font-size: 14px;
}
.view_2_tit_box .tit{
    flex: 1;
    font-weight: 500;
    word-break: keep-all;
    line-height: 1.3;
}
.view_2_con_box{
    margin: 23px 0 40px;
}
.view_2_con_box .date{
    font-size: 14px;
    color: #7e7d7d;
    margin-bottom: 15px;
}
.view_2_con_box .txt{
    padding: 20px 10px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    font-size: 16px;
    line-height: 1.4;
    min-height: 300px;
}

.view_comm_box{
    padding: 20px;
    border-top: 1px solid #d9d9d9;
}
.view_comm_box .count{
    font-size: 15px;
    margin-bottom: 15px;
}
.view_comm_box .count span{
    font-weight: bold;
    color: var(--df-green-c);
}
.view_comm_box .wirte_input{
   display: flex;
   gap: 5px;
    margin-bottom: 20px;
}
.view_comm_box .wirte_input input{
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    padding: 0 10px;
    height: 40px;
    flex: 1;
    font-size: 15px;
}
.view_comm_box .wirte_input input:focus{
    border-color: var(--df-green-c);
    outline: 0;
}
.view_comm_box .wirte_input button{
    background-color: var(--df-green-c);
    color: #fff;
    font-weight: 500;
    border-radius: 10px;
    padding: 0 5px;
    font-size: 15px;
    line-height: 40px;
}
.view_comm_box .comm_list{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.view_comm_box .comm_list>li{
    border-radius: 20px;
    padding: 16px;
    border: 1px solid #d9d9d9;
}
.view_comm_box .u_box{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap: 4px;
    margin-bottom: 5px;
}
.view_comm_box .u_box .user{
    font-size: 15px;
}
.view_comm_box  .u_box .date{
    flex: 1;
    text-align: left;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #7E7D7D;
}
.view_comm_box .comment{
    font-size: 15px;
    line-height: 1.4;
}
.view_comm_box .reply_box{
    padding-top: 20px;
    border-top: 1px solid #d9d9d9;
    margin-top: 20px;
}
.view_comm_box .reply_box ul{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.view_comm_box .reply_box li{
    position: relative;
    width: 100%;
    padding-left: 20px;
    box-sizing: border-box;
}
.view_comm_box .reply_box li::before{
    content: "";
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    width: 15px;
    height: 20px;
    background-position: center;
    background-image: url('../images/common/reply-arrow-ico.png');
    position: absolute;
    left: 0;
    top: 0;
}
.view_comm_box .reply_write {
    display: flex;
    gap: 5px;
    align-items: end;
    margin-bottom: 16px;
}
.view_comm_box .reply_write textarea{
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    padding:10px;
    height: 76px;
    flex: 1;
    font-size: 15px;
    font-weight: normal;
    color: #393939;
    resize: none;
}
.view_comm_box .reply_write textarea:focus{
    border-color: var(--df-green-c);
    outline: 0;
}
.view_comm_box .reply_write button{
    background-color: var(--df-green-c);
    color: #fff;
    font-weight: 500;
    border-radius: 10px;
    padding: 0 5px;
    font-size: 15px;
    line-height: 40px;
}
/* view end */

/* write start */

.list_write .df_input{
    border-radius: 20px;
    border-color: #949494;
}
.list_write .df_textarea{
    border-color: #949494;
}
/* write end */
/* main_bn start */
#main_bn {
    padding-top: 60px;
}

#main_bn .title {
    position: relative;
}
#main_bn .title img{
    position: absolute;
    top: 0;
    
    left: 50%;
    transform: translate(-50%,calc(-100% + 7px));
}
#main_bn .title span {
    font-family: 'jn';
    font-size: 22px;
    color: #fff;
    border-radius: 20px 20px 0 0;
    height: 52px;
    width: 222px;
    line-height: 52px;
    text-align: center;
    display: block;
    margin: 0 auto;
}
/* main_bn end */

/* vr start */
.hos_bn{
    box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    overflow: hidden;
    padding: 0;
}
.hos_bn img{
    width: 100%;
}
.hos_box a{
    display: block;
    border-radius: 5px;
    background-color: var(--df-green-c );
    width:100%;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px 0;
    font-family: 'jn';
    color: #fff;
    margin-top: 10px
}
/* vr end */


.link_modal{
    max-width: 330px;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #fff;
    width: calc(100vw - 60px);
    z-index: 9;
    padding: 16px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.link_modal .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6px;
}
.link_modal .top span{
    font-weight: 500;
    font-size: 16px;
}

.link_modal .link_txt_box{
    border: 1px solid #d9d9d9;
    padding: 8px 10px;
    word-break: break-all;
    line-height: 1.4;
    margin-bottom: 6px;
}
.link_modal .link_copy_btn{
    background-color: var(--df-green-c);
    border-radius: 5px;
    text-align: center;
    height: 40px;
    width: 100%;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
}