/* common start */

.submit_btn{
    background-color: var(--df-green-c);
}
.form_box .input_box:has(input:focus) .input_tit{
    color: var(--m-main-c);
}
.form_box .input_box input:focus{
    outline: var(--m-main-c);
    border-color: var(--m-main-c);;
}
.bg_color{
    background-color: var(--m-c-03);
}
.find_box p span.id{
    color:var(--m-main-c)
}
.count_txt{
    color: var(--m-main-c);
}
.count_txt button{
    color: var(--m-c-04);
    border-color: var(--m-c-04);
}
.input_box .info_txt.error {
    color: var(--m-c-04);
}
.df_input.calendar{
    background-image: url('../images/mom/bx_calendar.png');
}
.ui-datepicker th{
    background-color: var(--m-main-c) !important;
}
.ui-datepicker .ui-datepicker-header{
    background-color: var(--m-main-c) !important;
}
.ui-datepicker-current-day .ui-state-default.ui-state-active{
    background-color: var(--m-main-c) !important;
}
.join_progress .bar{
    background-color: var(--m-main-c);
}
.form_box .required .input_tit::before{
    color: var(--m-main-c);
}
.list_tab button.active{
    border-color: var(--m-main-c);
    color: var(--m-main-c);
}
.list_2>ul>li .list_2_con ul li span{
    background-color: var(--m-c-03);
    color: var(--m-c-02);
}
.view_comm_box .count span{
    color: var(--m-main-c);
}
.float_nav a.active{
    color:var(--m-c-02);
    border-color: var(--m-main-c);
}

/* common end */

/* main start */
#main_bn {
    background-color: var(--m-c-03);
    padding-top: 60px;
}

#main_bn .title {
    position: relative;
}
#main_bn .title img{
    position: absolute;
    top: 0;
    
    left: 50%;
    transform: translate(-50%,calc(-100% + 7px));
}
#main_bn .title span {
    font-family: 'jn';
    font-size: 22px;
    color: #fff;
    background-color: var(--m-main-c);
    border-radius: 20px 20px 0 0;
    height: 52px;
    width: 222px;
    line-height: 52px;
    text-align: center;
    display: block;
    margin: 0 auto;
}

#main_bn .main_bn_links {
    border-top: 1px solid var(--m-main-c);
    border-bottom: 1px solid var(--m-main-c);
    padding: 30px 2%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}
#main_bn .main_bn_links li{
    max-width: 120px;
    width: 25%;
}
#main_bn .main_bn_links li a{
    display: block;
}
#main_bn .main_bn_links li a .img {
    display: inline-block;
  
    width: 100%;
    height:100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    padding:20%;
}

#main_bn .main_bn_links li a .img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#main_bn .main_bn_links li a .txt {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    line-height: 1.3;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: -0.5px;
}

/* main end */

/* sec_2 start */
#sec_2 {
    background-color: #F5F5F5;
    overflow: hidden;
}
#tv_list .swiper-slide {
    width: 40%;
}
/* sec_2 end */

/* sec_4 start */
#sec_4{
    background-color: #EFF9FF;
    padding-bottom: 100px;
}
#sec_4 .hos_bn{
    box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    overflow: hidden;
    padding: 0;
}
#sec_4 .hos_bn img{
    width: 100%;
}
#sec_4 .hos_box a{
    display: block;
    border-radius: 5px;
    background-color: var(--df-green-c );
    width:100%;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px 0;
    font-family: 'jn';
    color: #fff;
    margin-top: 10px
}
/* sec_3 end */


/* .login page start */
.sub_top_bn{
    background-color: var(--m-c-03);
    color: var(--m-main-c);
}

/* .login page end */

.sub_top_bn .my_bg{
    margin-right: 20px;
}
.sub_top_bn .gov_bg{
    margin-right: 10px;
}

/* yt-list start */
.yt_list{
    padding: 20px 20px 50px;
    width: 100%;
    box-sizing: border-box;
}
.yt_list>ul>li{
    border: 1px solid #F5F5F5;
    border-radius: 10px;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.04);
    margin-bottom: 20px;
    padding: 15px 15px 20px;
}
.yt_list>ul>li:last-child{
    margin-bottom: 0;
}
.yt_list>ul>li .thumb{
    width: 100%;
    position: relative;
    aspect-ratio: 1 / 0.56;
}
.yt_list>ul>li .thumb>img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.yt_list>ul>li .thumb .play_btn{
    width: 72px;
    height: 72px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter:blur(2px);
}
.yt_list>ul>li .thumb .play_btn img{
    position: absolute;
    left: 55%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.yt_list>ul>li .tit{
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 16px;
    margin-top: 16px;
    overflow: hidden;
    width: 100%;
}
.modal_yt_con{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    width: 90%;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 20px;
    max-width: 600px;
}

.modal_yt_con .tit{
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    word-break: keep-all;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--d-cate-c-pink);
    margin-bottom: 15px;
}
.modal_yt_con .thumb{
    width: 100%;
    position: relative;
    aspect-ratio: 1 / 0.56;
}
.modal_yt_con .thumb>img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.modal_yt_con .thumb .play_btn{
    width: 72px;
    height: 72px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter:blur(2px);
}
.modal_yt_con .thumb .play_btn img{
    position: absolute;
    left: 55%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.modal_yt_con .modal_close{
    display: flex;
    justify-content: end;
    gap: 7px;
    margin-top: 15px;
    align-items: center;
}

/* yt-list end */